In [2]:
import pandas as pd

In [3]:
results = pd.read_json("votes_result.json")
results.head()

  first_name last_name gender   size  weight             birthday  id
0      Flash     Flash      M  456.0   456.0  2023-09-30T18:15:35  11
1       TEST      TEST      M  456.0   456.0  2023-09-22T20:29:58  12
2      Soren   Maujean      M   67.0    87.0  2024-01-04T00:14:37  13
3    Michael    Jordan      M   56.0    56.0  2023-10-08T10:14:18  14
4      Roger   Federer      F   56.0    78.0  2023-09-28T13:30:00  16